@model Contact


<style>

    .container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;



}
</style>

<div class="container">
    <h2>Contact Us</h2>
    <form asp-controller="Home" asp-action="Contact" method="post">
        <label asp-for="FullName">Name:</label>
        <input type="text" id="name" asp-for="FullName" required>

        <label asp-for="ContactEmail">Email:</label>
        <input type="email" id="email" asp-for="ContactEmail" required>

        <label asp-for="ContactContent">Message:</label>
        <textarea id="message" asp-for="ContactContent" rows="4" required></textarea>

        <input id="addedContact" type="submit" value="Submit">
    </form>
</div>

<div class="myDiv" style="margin-bottom:100px;"></div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        $("#addedContact").click(function(){
            Swal.fire({
              title: "Good job!",
              text: "Mesajınız alındı Size geri dönüş yapılacaktır!",
              icon: "success"
            });

        });

    </script>
}
