@model LoginViewModel
@{
    Layout = "_LoginAndRegisterLayout";
}



<div class="container">
    <div class="form-container">
        <form asp-controller="Login" asp-action="Index" method="POST" id="loginForm">
            <h2>Login</h2>
            <label asp-for="Username">Username:</label>
            <input type="text" id="username" asp-for="Username" required>

            <label asp-for="Password">Password:</label>
            <input type="password" id="password" asp-for="Password" required>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/Register/Index">Register here</a>.</p>
    </div>
</div>


